<table>
  <thead>
<tr>
  <th [attr.colspan]="columnspan">
    Employee Details
  </th>
</tr>
  </thead>
  <tbody>
<tr>
 <td>
first name
 </td>
 <td>
{{firstname}}
 </td>
</tr>
<tr>
 <td>
last name
 </td>
 <td>
   {{lastname}}
 </td>
</tr>
<tr *ngIf = "showDetails">
 <td>
gender
 </td>
 <td>
   {{gender}}
 </td>
</tr>
<tr *ngIf = "showDetails">
 <td>
age
 </td>
 <td>
   {{age}}
 </td>
</tr>

  </tbody>
</table>
<br/>
<button  on-click="toggleDetails()">
  Show Details
</button>
